/*----------------------------------------*/
/* About Page Banner Section Area
/*----------------------------------------*/
.about-page{
    .about-content{
        h3{
            margin-top: -10px;
        }
    }
    .manager-content{
        h2{
            margin-top: -7px !important;
        }
    }
    .manager-img{
        top: 0;
        margin-bottom: 0;
        &::after{
            display: none;
        }
    }
}

.about-big-img{
    img{
        display: block;
    }
}