/*----------------------------------------*/
/* Business Section Area
/*----------------------------------------*/
.business-area{
    padding-bottom: 50px;
    @include md{
        padding-bottom: 100px;
    }
    @include xl{
        padding-bottom: 135px;
    }
    .business-wrappe{
        background-color: #ffeff8;
        display: block;
        @include lg{
            display: flex; 
        }
        @include xl{
            position: relative;
        }
    }
    .business-content{
        width: 100%;
        @include lg{
            width: 60%;
        }
        h2{
            span{
                color: $theme-color;
            }
        }
    }
    .business-img{
        position: relative;
        @include xl{
            width: 350px;
            @include absolute(top 50px right 50px);
        }
        img{
            display: block;
            width: 100%;
        }
    }
}